@CHARSET "ISO-8859-1";

/*Global*/
body {
  font-size: 16px;
  color: #000;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

a {
  color: #fff;
}

.btn-primary {
    background-color: #f47321;
    border-color: #7d3f15;
}

.btn-primary:hover {
    background-color: #7d3f15;
    border-color: #f47321;
}

.input{
	width: 100%;
	margin-bottom: 10px;
}

/*Nav Banner*/
#collapse-text {
  color: #fff;
}

#home-button {
    background-color: #7d3f15;
    padding: 10px;
}

#home-button:hover{
	opacity: 0.5;
}

#home-logo {
    width: 35px;
    margin-top: 0px;
    margin-left: -3px;
}

#admin {
  width: 23px;
  margin-right: 8px;
  margin-top: -9px;
  margin-bottom: 5px;
}

.btn-custom {
  color: #FFF;
  background-color: #7d3f15;
  border-color: #CCC;
}

.btn-custom:hover {
  color: #FFF;
  background-color: #7d3f15;
  border-color: #CCC;
}

.nav > li > a:focus, .nav > li > a:hover {
  	color: #fff;
    background-color: #7d3f15;
}

.nav-bar {
  color: #fff;
}

.custom-navbar {
    background-color: #f47321;
    border: none;
}

.icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  border-color: #fff;
}

.container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

.shadow-nav-bar {
  -webkit-box-shadow: 55px 0px 20px 2px #000;
  box-shadow: 55px 0px 20px 2px #000;
}

.navbar-fixed-top-adjust {
  margin-top: 75px;
}

.dropdown {
    margin-top: 9px;
    margin-right: 5px;
}


.dropdown button {
	border: none;
	background-color: transparent;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}

.input-group {
    width: 245px;
    margin-top: 8px;
    padding-right: 15px;
}

#sub-ban{
    height: 100px;
    position: absolute;
    background-color: #7d3f15;
    width: 100%;
    z-index: -1;
}

#sub-ban p{
    margin-top: 65px;
    float: right;
    margin-right: 10px;
    color: white;
}

/*Form jsp*/

#central-form{
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

/* Form add restaurent */
#latitude{
	width: 49%;
	float: left;
}

#longitude{
	width: 49%;
	float: right;
}


/*media querys*/
@media (min-width: 768px) {

  #admin {
    width: 20px;
    margin-top: -7px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .input-group {
      width: 245px;
      margin-top: 8px;
      padding-right: 15px;
  }

  #admin-link{
    display: none;
  }
  
  #central-form{
  	margin-top: 15%;
  }

}

/*Transition*/
.trans-100 {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.trans-300 {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

}